@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

html {
    font-family: "Roboto", "sans-serif";
}

header {
    height: 4rem;
    padding-left: 0.5rem;
    background-color: rgb(238, 238, 238)
}

.titlebar {
    display: flex;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 3px;
    gap: 0.2rem;
    height: 50%;
}

.vlc-logo {
    height: 90%;
}

#title-txt {
    font-size: 1rem;
}


.menu-bar {
    display: flex;
    align-items: center;
    height: 50%;
}

.menu {
    margin: 4px;
    font-size: 0.9rem;
    position: relative;
}

.menu:hover .menu-items {
    display: block;
}

.menu-btn {
    font-weight: bold;
    padding: 6px;
}

.menu-items {
    list-style: none;
    background-color: rgb(238, 238, 238);
    position: absolute;
    top: 15px;
    padding: 0px;
    display: none;
}

.menu-items:hover {
    display: block;
}

.menu-btn:hover {
    background-color: lightblue;
    cursor: pointer;
}

li:hover {
    background-color: gray;
    cursor: pointer;
}

li {
    padding: 2px;
    width: 6rem;
}
.footer {
    height: 3rem;
    background-color: rgb(238, 238, 238);
}

#input-file {
    display: none;
}

#video {
    height: 100%;
}

.main {
    background-color: black;
    height: calc(100vh - 7rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

#toast {
    top: 5rem;
    padding: 0.2rem;
    right: 2rem;
    background-color: gray;
    color: white;
    position: fixed;
    display: none;
    font-size: 2rem;
}